* {
    font-family:'Roboto';
}
h1,h2,h3,h4,h5 {
    font-family:'Baskerville'
}
html, body {
    width:100%;
    margin:0;
    padding:0;
    background-color:#f9f9f9;
}

li {
    list-style:none
}

a,a:hover {
    text-decoration:inherit;
    color:inherit;
}

.blue,.blue .page-header {
    background-color:#467B8D;
}

header {
    padding:20px;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
}
    .main-nav,.main-nav ul,.main-nav li {
        float:right;
    }
        .main-nav a {
            text-transform:uppercase;
            color:#999;
            font-size:0.85em;
            font-weight:600;
            float:left;
            padding:10px 15px;
            display:inline-block;
        }
            .main-nav a:hover {
                color:#333;
            }
        .dark .main-nav a {
            color:rgba(255,255,255,0.25);
        }
            .dark .main-nav a:hover {
                color:#FFF;
            }
/* -- index -- */
.index-logo,.page-logo {
    margin-top:10em;
    width:100%;
    text-align:center;
}
    .index-logo img,.page-logo  {
        display:inline-block;
    }
.index-title,.page-title {
    font-size:3em;
    text-transform:uppercase;
    color:#666;
}
    .index-byline,.index-title,.page-title,.page-byline {
        width:100%;
        text-align:center;
        margin:30px 0;
    }
    .index-byline,.page-byline {
        font-size:1.15em;
        color:#999;
    }
.index-form {
    width:100%;
    text-align:center;
}
    .index-input,.lex-input {
        height:100px;
        font-size:3em;
        color:#666;
        background-color:#FFF;
        border:1px solid #eee;
        padding:10px 20px;
        width:600px;
        font-weight:lighter;
    }
    .index-input:focus,.lex-input:focus {
        outline:none;
    }
/* -- lexicon -- */
.lex-header {
    padding:3.5em 0;
}
    .lex-logo {
        text-align:right;
    }
        .lex-logo img {
            display:inline-block;
            margin-right:15%;
        }
    .lex-input {
        width:100%;
        background-color:transparent;
        border:none;
        border-bottom:1px solid rgba(255,255,255,0.1);
        color:#FFF;
        padding:0 20px;
        height:auto;
    }
    .lex-byline {
        color:#FFF;
        width:100%;
        margin:1.5em 0;
        font-size:1.25em;
    }
        .lex-source {
            color:rgba(255,255,255,0.5);
        }
.lex-nav,.page-bar {
    width:100%;
    height:100px;
    background-color:#23434F;
    padding:0;
}
    .lex-nav ul,.lex-nav li {
        float:left;
        margin:0;
        padding:0;
    }
    .lex-nav a {
        display:inline-block;
        float:left;
        padding:30px;
        height:100px;
        line-height:40px;
        color:#FFF;
        font-size:0.95em;
        text-transform:uppercase;
        opacity:0.5;
    }
        .lex-nav a:hover,.lex-nav a.focus {
            opacity:1
        }
            .lex-nav a.focus {
                background-color:#6AC5DA;
            }
        .lex-nav .no {
            color:#FFF;
            height:30px;
            width:30px;
            border-radius:50%;
            border:1px solid #FFF;
            line-height:30px;
            text-align:center;
            display:inline-block;
            margin-right:0.75em;
        }
/* -- page header -- */
.page-header {
    margin:0;
    border:0;
    padding:3em 0 6em 0;
}
.page-title {
    color:#FFF;
}
    .page-title.dark {
        color:#333;
    }
    .page-subtitle {
        color:#333;
        font-family:'Roboto';
        text-align:center;
    }
.page-byline {
    color:rgba(255,255,255,0.5);
}
    .page-logo {
        margin-top:6em;
    }
.page-bar {
    text-align:center;
    color:#FFF;
    font-size:3em;
}
    .page-bar a {
        opacity:0.5;
        margin:0.75em 0;
        display:inline-block;
    }
        .page-bar a:hover {
            opacity:1;
        }
/* -- about page -- */
.about-team {
    background-color:#FFF;
    padding:3em 0 6em 0;
}
.team-row {
    padding:0 20%;
    margin-top:1.5em;
}
.team-person {
    width:100%;
    text-align:center;
    line-height:200%;
    font-size:1.1em;
}
    .about-team a {
        border-bottom:1px dotted #666;
    }
    .about-team a:hover {
        border-bottom:1px solid #666;
    }
    .team-byline {
        color:#666;
        line-height:150%;
        padding:0 25%;
        text-align:center;
    }
/* -- page footer -- */
footer {
    background-color:#333;
    width:100%;
    padding:5em 0;
}
    .footer-logo {
        width:100%;
        text-align:center;
    }
        .footer-logo img {
            display:inline-block;
            height:85px;
        }
    .footer-title {
        width:100%;
        color:#FFF;
        font-family:'Baskerville';
        text-align:center;
        font-size:1.5em;
        text-transform:uppercase;
        margin:1em 0;
    }
    .footer-byline {
        width:100%;
        text-align:center;
        color:rgba(255,255,255,0.25);
        text-transform:uppercase;
        font-size:0.9em;
    }
        .footer-byline a:hover {
            color:#FFF;
        }